# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
*.dll
*.exe

# Visual Studio cache/options
*.VC.db
*.VC.VC.opendb

# Rider
.idea/

# NuGet
packages/
*.nupkg

# User-specific files
*.csproj.user

# Publish output
Publish/

# SQL Server
*.mdf
*.ldf

# Logs
*.log

# Windows image file caches
Thumbs.db
